{% block content %}
{% load static %}
<!-- Start Footer -->
<footer id="footer" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="copyright">
                    <p><span><i class="fa fa-heart"></i></span><a target="_blank" href="">BabyCare</a></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="social">
                    <li>Follow Us</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/ End Footer -->

<!-- Jquery JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Modernizr JS -->
<script src="{% static 'js/modernizr.min.js' %}"></script>

<!-- Scroll Up JS -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>

<!-- Wow JS -->
<script src="{% static 'js/wow.min.js' %}"></script>

<!-- Slick Nav JS -->
<script src="../static/js/jquery.slicknav.min.js' %}"></script>

<!-- Onepage Nav JS -->
<script src="{% static 'js/jquery.nav.js' %}"></script>

<!-- Typed JS -->
<script src="{% static 'js/typed.min.js' %}"></script>

<!-- Popup JS -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<!-- Steller JS -->
<script src="{% static 'js/jquery.stellar.js' %}"></script>

<!-- Particles JS -->
<script src="{% static 'js/particles.min.js"></script>
<script src="{% static 'js/particle-code.js' %}"></script>

<!-- Counterup JS -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>

<!-- Owl Carousel JS -->
<script src="{% static '/js/owl.carousel.min.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Google Map JS -->
<script src="{% static 'js/gmap.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>

{% endblock %}