{% block content %}
{% load static %}

{% include 'header.html' %}

	<!-- Contact Us -->
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <div class="section-title">
                        <h2>ADD-<span>Vaccination details   </span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Contact Form -->
                <div class="col-md-8 col-sm-12 col-xs-12 wow fadeInUp">
                    <form class="form" method="post" action="addvac">
                        {% csrf_token %}
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="text" name="bname"  placeholder="Baby Name" required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="text" name="vaccine" placeholder="Vaccine Name" required="required">
                        </div>
                      
                     
                      
                        <div class="form-group">
                            <p>Date of vaccination</p>
                            <i class="fa fa-user"></i>
                            <input type="date" name="date" placeholder="" required="required">
                        </div>
                       
                        <div class="form-group">
                            <i class="fa fa-address-book"></i>
                            <textarea name="description" rows="6" placeholder="Description" ></textarea>
                        </div>
                      
                        <div class="form-group">	
                            <button type="submit" class="button primary"><i class="fa fa-send"></i>Submit</button>
                        </div>
                    </form>
                </div>
                <!--/ Contact Form -->
                <!-- Google Map --><br><br>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="contact-map">
                        <div class="single-client">
                            <img src="../static/images/1.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <!--/ End Google Map -->
            </div>
        </div>
    </section>
    <!--/ End Clients Us -->

{% include 'footer.html' %}

{% endblock %}