{% block content %}
{% load static %}

{% include 'header.html' %}

	<!-- Contact Us -->
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInUp">
                    <div class="section-title">
                        <h2>View-<span> Baby Attendance  </span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Contact Form -->
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"> Baby Name</th>
                              
                                <th scope="col"> Date </th>
                                <th scope="col">Status </th>
                               
                               
                
                                <!-- <th scope="col">Remove </th> -->
                              
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in result %}
                            <tr>
                                <td>{{i.b_id}}</td>
                               
                                <td>{{i.date}}</td>
                                <td>{{i.status}}</td>
                              
                             
                               
                                <!-- <td><a href="{% url 'deletenutritionist' id=i.id %}">Remove</a></td> -->
                        
                                </tr>
                  {% endfor %}
                                        </tbody>
                                      </table>
                </div>
                <!--/ Contact Form -->
              
            </div>
        </div>
    </section>
    <!--/ End Clients Us -->
<br><br><br>
<br><br><br>
<br><br><br>
{% include 'footer.html' %}

{% endblock %}